bleach==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.1.2
defusedxml==0.5.0
Django==1.11.3
django-feedparser==0.2.1
django-rss-xml-parser==0.4
django-widget-tweaks==1.4.1
entrypoints==0.2.3
feedparser==5.2.1
html5lib==0.999999999
idna==2.5
inflection==0.3.1
ipykernel==4.6.1
ipython==6.2.0
ipython-genutils==0.2.0
ipywidgets==7.0.1
jedi==0.11.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
more-itertools==3.2.0
mpmath==0.19
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.1.0
numpy==1.22.0
oauthlib==2.0.6
pandas==0.20.3
pandocfilters==1.4.2
parso==0.1.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.1.0
Pygments==2.2.0
PyJWT==1.5.3
pyparsing==2.2.0
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
pyzmq==16.0.2
qtconsole==4.3.1
Quandl==3.2.0
requests==2.17.3
requests-oauthlib==0.8.0
scikit-learn==0.19.0
scipy==0.19.1
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
social-auth-app-django==2.0.0
social-auth-core==1.5.0
sympy==1.1.1
tensorflow==0.12.0
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.0.3
