

{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <title>Faculty</title>
    <link rel = "stylesheet" type="text/css" href="{% static 'portal/style.css' %}"/>
{% endblock %}

{% block body %}
    <div class="container containerEdit">
        <hr>
        <h1>Faculty</h1>
        <hr >
        <br/>
	<p class = "formLeftAlign">
            {% if teachers %}
    	    <ol style="text-align:left; font-size:19px">
   	    {% for teacher in teachers %}
       		 <li><a href="/portal/t/{{teacher.user.username}}">{{ teacher.user.first_name }} {{teacher.user.last_name}} : {{teacher.department}}</a></li>
		 <br>
    	    {% endfor %}
    	    </ol>
	    {% else %}
    		No faculty is available.
	    {% endif %}
        </p>

	</div>

        {%  block popup %}{% endblock %}

{% endblock %}